# Игнорирование каталога виртуального окружения:
venv/

# Игнорирование файлов, связанных с конфигурацией IDE (например, PyCharm):
.idea/

# Игнорирование файлов операционной системы:
.DS_Store
Thumbs.db

# Игнорирование файлов логов:
*.log

# Игнорирование баз данных SQLite, если они используются:
*.sqlite3
*.db

# Другие файлы и папки, которые обычно игнорируются:
__pycache__/
*.pyc
.env
.vscode/
