/* Основные стили для всей страницы */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container p, .container ul, .container li {
    text-align: left;
    line-height: 1.6;
}

.container, .game-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px; /* Небольшое закругление углов */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .container .game-container {
        width: 100%;
        padding: 10px;
    }

    /* Другие стили, специфичные для мобильных устройств */
}


/* Стили для заголовков */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для кнопок */
button {
    background-color: #007bff;
    font-size: 14px;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для шкал состояния */
.status-bar {
    margin: 5px 0;
    position: relative;
}

.status-bar label {
    display: block;
    margin-bottom: 5px;
}

.status-bars {
    margin: 30px 0;
    position: relative;
    border-radius: 5px; /* Небольшое закругление углов */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

progress {
    width: 100%;
    height: 20px;
}

/* Стили для вопросов и вариантов ответов */
.question-container {
    margin-top: 20px;
}

.question-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px; /* Небольшое закругление углов */
}

.option-btn {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

.game-header {
    text-align: center;
    margin-bottom: 20px;
}

.header-btn {
    margin: 0 10px;
    padding: 5px 15px;
    /* Дополнительные стили для кнопок, если нужно */
}

@keyframes fadeOutMoveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Добавьте этот стиль в ваш CSS файл */
.progress-change {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    transition: opacity 0.5s, top 0.5s;
    opacity: 0; /* начальное состояние невидимо */
    animation: fadeOutMoveUp 1s ease forwards;
}

.status-bar::after {
    content: attr(data-change);
    position: absolute;
    right: -23px; /* Позиционируем справа от текста */
    top: 23px;
    white-space: nowrap; /* Предотвращаем перенос текста */
    opacity: 0; /* начальное состояние невидимо */
    transition: opacity 1s ease-in-out;
    /* Остальные стили для визуализации (цвет, фон, и т.д.) */
}

.status-bar.show-change::after {
    opacity: 1; /* делаем видимым */
}

.game-logo {
    display: block;
    margin: 0 auto;
    max-width: 60%; /* Примерный размер */
}


.status-bar {
    /* Ваши текущие стили */
    --change-color: black; /* Значение по умолчанию */
}

.status-bar::after {
    color: var(--change-color); /* Используем переменную для цвета */
    /* Остальные стили */
}
