<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Игра "Симулятор аналитика"</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="/static/images/logo.png" alt="Логотип Симулятора Аналитика" class="game-logo">
        <h2>Добро пожаловать в игру</h2>
        <h1>Симулятор Аналитика!</h1>
        <br>
        <p>Ваша задача - принимать решения, которые будут влиять на три ключевые шкалы состояния:</p>
        <ul>
            <li>Репутация и Профессионализм</li>
            <li>Ресурсы (Время и Бюджет)</li>
            <li>Удовлетворенность Заказчиков</li>
        </ul>
        <p>Каждое ваше решение может улучшить или ухудшить ваше положение по этим шкалам. Цель игры - добиться наилучших результатов и продержаться как можно дольше.</p>
        <button onclick="location.href='/game'">Начать игру</button>
    </div>
    <script src="/static/js/game.js"></script>
</body>
</html>
