<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Игра "Симулятор аналитика"</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="/static/images/logo.png" alt="Логотип Симулятора Аналитика" class="game-logo">
        <h2>Добро пожаловать в игру</h2>
        <h1>Симулятор Аналитика!</h1>
        <br>
        <p>Ваша задача - принимать решения, которые будут влиять на три ключевые шкалы состояния:</p>
        
        <div class="scale">
            <h3>Репутация и Профессионализм</h3>
            <p id="reputation-description" class="description">Эта шкала отражает, насколько высоко коллеги и клиенты ценят профессиональные навыки и достижения системного аналитика. Решения, основанные на точном анализе и успешном внедрении систем, улучшают репутацию. Ошибки в работе, неправильные предположения или пренебрежение деталями могут снизить её.</p>
        </div>

        <div class="scale">
            <h3>Ресурсы (Время и Бюджет)</h3>
            <p id="resources-description" class="description">Эта шкала отражает управление временем и финансовыми ресурсами. Хорошее планирование и эффективное управление ресурсами улучшат эту шкалу. Плохие решения, недооценка сроков или бюджета проекта могут привести к их ухудшению.</p>
        </div>

        <div class="scale">
            <h3>Удовлетворенность Заказчиков</h3>
            <p id="customer-satisfaction-description" class="description">Эта шкала отражает, насколько хорошо системный аналитик удовлетворяет потребности и ожидания клиентов. Эффективное общение, понимание их нужд и предоставление решений, соответствующих их требованиям, повысит удовлетворенность. Непонимание требований клиентов или неспособность предложить адекватные решения снизят эту шкалу.</p>
        </div>

        <p>Каждое ваше решение может улучшить или ухудшить ваше положение по этим шкалам. Цель игры - добиться наилучших результатов и продержаться как можно дольше.</p>
        <button onclick="location.href='/game'">Начать игру</button>
    </div>
    <script src="/static/js/game.js"></script>
</body>
</html>
